<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-7 mt-5">
      <h2 class="text-main text-center">新規登録</h4>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="row">
          <div class='col-sm-4 offset-md-2 mt-3'>
            <div class="field mt-4">
              <%= f.label :名前 %>
            </div>
            <div class="field mt-3">
              <%= f.label :メールアドレス %>
            </div>
            <div class="field mt-3">
              <%= f.label :パスワード %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %><br />
            </div>
            <div class="field mt-3">
              <%= f.label :パスワード確認用 %>
            </div>
          </div>

          <div class="col-sm-5 mt-3">
            <!--名前-->
            <div class="field mt-3">
              <%= f.text_field :name,autofocus: true %>
            </div>
            <!--メールアドレス-->
            <div class="field mt-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <!--パスワード-->
            <div class="field mt-3">
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
            <!--確認用パスワード-->
            <div class="field mt-3">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </div>
          <div class="actions mx-auto m-5">
            <%= f.submit "新規登録", class:"btn btn-success" %>
          </div>
        </div>
        <div class="row">
          <!--ログインは-->
          <div class='col-sm-4 offset-md-2 mt-3'>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
