<div class="container">
  <div class="mx-auto col-sm-9">
    <h2 class="text-main  text-center">プロフィール編集</h2>
    <%= render 'layouts/error', obj: @user %>
      <%= form_with model:@user, local:true do |f| %>

        <div class="row">
        　<div class='col-sm-2 offset-md-1'>
            <div class="field">
              <p>画像</p>
            </div><br>
            <div class="field">
              <p>名前</p>
            </div><br><br>
            <div class="field">
              <p>紹介文</p>
            </div><br>
          </div>

          <div class="col-sm-7 offset-md-1">
            <!--プロフィール画像-->
            <div class="field">
              <p><%= f.attachment_field :profile_image, placeholder: "profile_image" %></p>
            </div><br>
            <!--名前-->
            <div class="field">
              <p><%= f.text_field :name, placeholder: '2文字以上10文字以内', class: "form-control col-8" %></p>
            </div><br>
            <!--自己紹介-->
            <div class="field">
              <p><%= f.text_area :introduction, placeholder: '紹介文(20文字以内)', size:"35x6", class:"form-control col-8" %></p>
            </div><br>
            <div class="actions">
              <%= f.submit "編集", class: 'btn btn-success ml-4 w-25' %>
              <%= link_to "退会", user_unsubscribe_path, class: 'btn btn-danger ml-5 btn-sm' %>
            </div>
          </div>
      <% end %>
  </div>
</div>
