<div class='container px-5 px-sm-0 mt-4' style="margin-bottom:200px;">
  <div class='row'>
    <div class='col-md-4'>
      <h2 class="text-main  text-center">プロフィール</h2>
      <%= render 'profile', user: @user %>
    </div>
    <div class='col-md-7 offset-md-1'>
      <h2 class="text-main  text-center">マイページ</h2>
      <p class="text-center">
        <%= link_to "新着順",user_path(@user, sort: 'created_at DESC'), class: "text-dark" %>
        |
        <%= link_to "古い順",user_path(@user, sort: 'created_at ASC'), class: "text-dark" %>
        |
        <%= link_to "評価の高い順",user_path(@user, sort: 'evaluation DESC'), class: "text-dark" %>
      </p>
      <!--ユーザーの投稿一覧-->
      <%= render 'post_images/index', post_images: @post_images %>
      <%= paginate @post_images %>
    </div>
  </div>
</div>
