<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-7 mt-5">
      <h2 class="text-main text-center">ログイン</h4>
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>

      <div class="row">
        <div class='col-sm-4 offset-md-2 mt-3'>
          <div class="field mt-4">
            <%= f.label :メールアドレス %>
          </div>
          <div class="field mt-3">
            <%= f.label :パスワード %>
          </div>
        </div>

        <div class = "col-sm-5 mt-3">
          <!--メールアドレス-->
          <div class="field mt-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <!--パスワード-->
          <div class="field mt-3">
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>
        <div class="actions mx-auto m-5">
          <%= f.submit "ログイン",class: "btn btn-info" %>
        </div>
      </div>
      <% end %>
      <div class="row">
        <!--新規登録はこちら-->
        <div class='col-sm-4 offset-md-2 mt-3'>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>