<div class="container" style="margin-bottom:200px;">
  <div class="row">
    <div class="col-sm-2">
      <!--タグ一覧サイドバー-->
      <h2 class="text-tag text-center">タグ一覧</h2>
      <% @tag_list.each do |list|%>
        <p><%= link_to list.name ,search_tag_path(tag_id: list.id), class: "text-dark" %>
        <%="(#{list.post_images.count})" %></p>
      <% end %>
    </div>

    <div class="mx-auto col-sm-10 mt-4">
     <!--タグで検索された一覧-->
  　 <h2 class="text-tag-index text-center">タグが"<%=@tag.name%>"の投稿一覧</h2>
      <%= render 'index', post_images: @post_images %>
      <%= paginate @post_images %>
    </div>
  </div>
</div>


