<div class="container" style="margin-bottom:200px;">
  <div class="row">
    <div class="col-sm-2">
      <!--タグ一覧サイドバー-->
      <h2 class="text-tag">タグ一覧</h2>
      <% @tag_list.each do |list|%>
        <p><%= link_to list.name ,search_tag_path(tag_id: list.id) %>
        <%="(#{list.post_images.count})" %></p>
      <% end %>
    </div>
    <div class="mx-auto col-sm-10 mt-4 text-center">
      <h2 class="text-main">投稿詳細</h2>
        <!--cardひとかたまり-->
        <div class="card mx-auto" style="width:40rem">
          <!--投稿写真-->
          <%= attachment_image_tag @post_image, :image %>
          <div class="card-body">
            <div class="row">
          　　<div class="col-3">
              <!--名前と写真を押すとマイページへ-->
                <%= link_to user_path(@user), class: "text-dark" do %>
                  <p><%= attachment_image_tag @post_image.user, :profile_image, format: 'jpeg', fallback: "img/no_image.jpg", size: "80x80", class:"mt-3 rounded-circle" %></p>
                  <p class="card-user"><%= @post_image.user.name %></p>
                <% end %>
              </div>
              <div class="col-7">
                <!--タイトル-->
                <p class="card-title"><i class="fas fa-camera"></i>：<%= @post_image.title %></p>
                <!--説明文-->
                <p class="card-text"><i class="far fa-comment"></i>：<%=safe_join(@post_image.introduction.split("\n"),tag(:br))%></p>
                <!--タグ表示-->
                <p>
                  <% @post_image.tags.each do |tag| %>
                    #<%= link_to tag.name, search_tag_path(tag_id: tag.id)%>
                  <% end %>
                </p>
                <!--評価表示-->
                <p class="post_image-evaluation" data-score="<%= @post_image.evaluation %>"></p>

                <!--投稿日-->
                <p class="card-create"><i class="fas fa-calendar-minus"></i>：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
                <!--いいねテンプレート-->
                <div id="favorite_buttons_<%= @post_image.id %>">
                  <%= render "favorites/favorite-btn", post_image: @post_image %>
                </div>
                <!-- 投稿者=ログインしているユーザーだったら-->
                <% if @post_image.user == current_user %>
                  <%= link_to "編集",edit_post_image_path(@post_image), class: "btn btn-success m-4 btn-sm" %>
                  <%= link_to "削除",post_image_path(@post_image), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-sm" %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <!--コメント欄-->
                <%= form_with model:[@post_image,@comment] do |f| %>
                  <%= f.text_area :comment, rows:'3',placeholder: "コメントはこちらへ" %>
                  <p><%= f.submit "送信", class: "btn btn-success" %></p>
                <% end %>
              </div>
              <div class="col-6">
                <!--コメント件数カウント-->
                <div id="post_comment_<%= @post_image.id %>">
                  <p class="comments-count">コメント数:<%= @post_image.comments.count %></p>
                </div>
                <!--コメント表示テンプレート-->
                <div class="comments">
                  <%= render "comments/comment", post_image: @post_image %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!--評価-->
<script>
  $('.post_image-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>